* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  --main-color: white;
  --second-color: rgb(221, 221, 221);
  /* background-color: rgb(228, 229, 233); */
}

.wrapper {
  background-color: var(--main-color);
  width: 850px;
  margin: 0 auto;
}

/* navigation */
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 125px;
  background-color: var(--main-color);
}

.logo {
  display: flex;
  flex-wrap: wrap;
  height: 125px;
  width: 125px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 30px 0 0 0;
  padding: 5px;
  font-size: 40px;
  line-height: 60px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.logo p {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}

h1 {
  margin: 10px 0 15px 0;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

nav ul {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
}

nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  border-bottom: 2px solid var(--main-color);
}

nav ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--second-color);
}

/* main */
main {
  padding-top: 200px;
}

/* intro */
.intro,
.offer,
.execution,
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 470px;
  margin: 25px;
}

.intro-text {
  width: 465px;
  margin: 0 25px 25px 25px;
}

.intro-text p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
}

.pictures div {
  height: 225px;
  width: 225px;
  margin: 5px;
}

.pictures img {
  height: 225px;
  width: 225px;
}

/* offer */
.offer-div,
.execution-div,
.footer-div {
  width: 465px;
  margin: 25px 25px 25px 25px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.offer-div p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

ol {
  margin: 0 0 30px 17px;
  font-size: 15px;
  line-height: 25px;
}

.offer ul {
  margin: 0 0 30px 40px;
  list-style: none;
}

/*execution*/
.execution-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.foto {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin: 0 20px 20px 0;
  border: 2px solid black;
}

.foto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.description {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p {
  font-size: 15px;
  line-height: 30px;
}

/*footer*/
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-element {
  margin: 0 20px 20px 0;
}

.footer-element p {
  font-size: 15px;
  line-height: 25px;
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact h3 {
  display: block;
  width: 400px;
  margin: 30px;
  font-size: 30px;
}

.footer-contact img {
  width: 40px;
  height: 40px;
  margin: 0 50px 0 50px;
}

@media only screen and (max-width: 850px) {

  .wrapper {
    width: 95%;
  }

  nav {
    width: 30%;
  }

  .offer-div,
  .execution-div,
  .footer-div,
  .pictures,
  .intro-text,
  .footer-contact h3 {
    justify-content: flex-end;
    width: 60%;
  }

  .pictures {
    flex-direction: column;
    align-items: center;
  }

  .pictures div,
  .pictures img {
    width: 270px;
    height: 270px;
  }

  .foto {
    width: 170px;
    height: 170px;
    margin: 10px;
  }
}

@media only screen and (max-width: 840px) {
  .logo {
    width: 90px;
    height: 90px;
    font-size: 30px;
    line-height: 50px;
  }

  .logo p {
    width: 35px;
    height: 35px;
  }

  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 592px) {

  nav {
    width: 35%;
  }

  h2 {
    text-align: center;
  }

  .execution-wrapper,
  .footer-wrapper {
    justify-content: center;
  }

  .foto {
    width: 170px;
    height: 170px;
    margin: 10px;
  }

  .description {
    justify-content: flex-start;
    height: 125px;
  }

  .footer-element {
    width: 160px;
    margin-right: 0px;
  }

  .footer-contact h3 {
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 20px;
  }

  .footer-contact img {
    margin: 0 15px 0 15px;
  }

  .fb,
  .ig {
    width: 80px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    width: 35%;
  }

  .offer-div,
  .execution-div,
  .footer-div,
  .pictures,
  .intro-text,
  .footer-contact h3 {
    justify-content: flex-end;
    width: 50%;
  }

  .pictures div,
  .pictures img {
    width: 200px;
    height: 200px;
  }

  .footer-contact h3 {
    margin: 0 15px 15px 0;
    font-size: 20px;
  }

  .footer-contact img {
    margin: 0 15px 0 15px;
  }
}

@media only screen and (max-width: 400px) {

  .pictures div,
  .pictures img {
    width: 170px;
    height: 170px;
  }
}